/* Regles General au Wiki */

@media only screen and (max-width: 575px) {
	.tab-content .tabpanel .table-condensed.employes {
		width: 90%;	
	}
	.tab-content .tabpanel .table-condensed.employee {
		width: 80%;	
	}
}

@media only screen and (min-width: 600px) {
	
	.wiki-phone{
		font-size:15px;
	}
}

@media only screen and (min-width: 320px) {
	
.wiki-phone{
	font-size:10px;
}
	
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover{
	background-color: rgba(0, 0, 0, 0.1);
}

.navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
	color: #000000;
}
	
.radius {
    border-radius: 45px;
}

.thumbnail-wiki{
	width: 260px!important;
	height: 365px!important;
	background-image: url("https://i.gyazo.com/6d84d74b216021ff34751a5a1ae761c5.png")
	
}


p{
	color : #AAAAAA ;
	font-family:Lucida Caligraphy;
	font-size: 14.5px;
	text-align:left;
	margin: 5px 0 5px 0;
}

.affix {
	top: 20px;
}

h2{
	float:none;
	margin:1px 0 0 0;
}

.wiki_pub{
	color: white;
	font-style: italic;
	font-weight: gras;
}
	
.tab-content .tab-pane .table-condensed.employes, .tab-content .tab-pane .table-condensed.hierarchie{
	margin: 0 auto;	
}	
.nav-tabs li {
	width: 110px;
	cursor: pointer;
}
.nav-tabs li a:hover, .nav-tabs li a.active {
	color: #fff !important;
}
/* Empeche que le style des menu change en responsive */
ul.nav-tabs > li {
    background-color: initial !important;
    border-left: 2px solid transparent !important;
}
ul.nav-tabs > li > a {
    color: #565555 !important;
}
ul.nav-tabs > li:nth-child(2) {
    border-top: none !important;
}	

#img_title{
	height: 300px; 
	width: 850px; 
	display: block;
	border-radius: 45px;
	max-width: 100%;
}

.img_wiki{
	max-width: 100%;
	 margin: 0 auto;
}

.img_wiki_menu{
	max-width: 100%;
	 margin: -7px 1px 0 0;
}

#img_warning{
	height: 20px; 
	width: 20px; 
}

#img_carrousel{
	height: 500px; 
	width: 1200px;
}
#img_carrousel1{
	width: 850px;
	height: 250px;
}
/* Fin regle general au wiki */

/*Instrcution tableau*/

.wiki-table, .wiki-table-prune, .wiki-table-pomme {
    width: 100%;
	border-radius: 14px;
	border: 1px solid;
	border-collapse: separate;
	color: #333333;
	
}

.wiki-table td, .wiki-table th, .wiki-table-prune td, .wiki-table-prune th, .wiki-table-pomme td, .wiki-table-pomme th {
    border: 1px solid #ddd;
    padding: 8px;
}

.wiki-table tr:nth-child(even), .wiki-table-prune tr:nth-child(even), .wiki-table-pomme tr:nth-child(even){
	background-color: #f2f2f2;
}

.wiki-table tr , .wiki-table-prune tr, .wiki-table-pomme tr{
	background-color: #ddd;
}

.wiki-table tr:hover, .wiki-table-prune tr:hover, .wiki-table-pomme tr:hover {

}

.wiki-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #286090;
    color: white;
	border: 1px solid #ddd;
}

.wiki-table-prune th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #902860;
    color: white;
	border: 1px solid #ddd;
}

.wiki-table-pomme th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #609028;
    color: white;
	border: 1px solid #ddd;
}
/* arrondi les angles */

#table-top-left{
	border-radius: 8px 0 0 0;
}

#table-top-right{
	border-radius: 0 8px 0 0;
}


/* Fin Instruction tableau*/

/* Creation de Class-color*/

	/*rouge*/
.blood{
	color:#d9534f;
}
	/*or*/
.gold{
	color:#F6DC12;
}
	/*blanc*/
.info{
	color:white;
	font-style:italic;
}
	/*violet*/
.prune{ 
  color:#9b58b5;
}
	/*turquoise*/
.ocean{ 
  color:#5BC0DE;
}
	/*vert*/
.pomme{
	color:#609028;
}
	/*noir*/
.txt{
	color:black;
}

.orange{
	color:#F4661B;
}

/* Fin Creation de CLass-color*/

/* Panel-wiki*/

.Panel-menu-body{
	color : #AAAAAA ;
	font-family:Lucida Caligraphy;
}

.panel-wiki{
    margin: 10px 0 10px 0;
    background-color: #333333;
    border-radius: 3px;
	border : 1px inset transparent;
	color:#AAAAAA;
}

.panel-wiki li, .panel-wiki li>a {
    margin: 10px 0 10px 0;
    background-color: #333333;
    border-radius: 3px;
	border : 1px inset transparent;
	color:#AAAAAA;
}

.panel-body li{ 
    	font-size: 14.5px;
	margin: 5px 0 5px 0;
	color : #AAAAAA ;
	font-family:Lucida Caligraphy;
}

.panel-icone-wiki{
    background: #1C1C1C;
	border : 1px inset transparent;
	color: white;
	display: inline-block;
    width: 75px;
    height: 62px;
}

.panel-icone-wiki img {
	max-width: 100%;
}

.panel-heading-shop {
	background-color: #609028!important;
}

.panel-heading-bad {
	background-color: #8f0000!important;
}

.panel-heading-cop {
	background-color: #0080ff!important;
}

#panel-icon{
	height: 20px; 
	width: 20px; 
}

/* Fin Panel wiki*/

/*Thunbail index*/

#img_circle_index{
	height: 140px; 
	width: 140px;
}

#title_thun{
}

#thun_index{
	background-color:rgba(0,0,0,0);  
	border-color : transparent;
}
/* Fin thunbail index */

/* Block Buster index*/

#img_block_buster{
	height: 400px; 
	width: 400px;
}
 
/* Fin Block Buster index*/

	
/* Block Détail job*/

.tab-content .tab-pane {
	padding: 0 10px;
}
	
/* Fin Détail job*/
	
	
/* Petit menu de navigation sur les pages */

.group {
  /*  background: yellow;*/
}
.group .subgroup {
  /*  background: orange;*/
	padding: 10px 0 0 0;
}

.fixed {
    position: fixed;
	z-index: 9999999999;
}

/* sidebar */
.bs-docs-sidebar {
    padding-left: 20px;
    margin-top: 60px;
    margin-bottom: 20px;
}

/* all links */
.bs-docs-sidebar .nav>li>a {
    color: #999;
    border-left: 2px solid transparent;
    padding: 4px 20px;
    font-size: 13px;
    font-weight: 400;
}

/* nested links */
.bs-docs-sidebar .nav .nav>li>a {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 30px;
    font-size: 12px;
}

/* active & hover links */
.bs-docs-sidebar .nav>.active>a, 
.bs-docs-sidebar .nav>li>a:hover, 
.bs-docs-sidebar .nav>li>a:focus {
    color: #003f75;                 
    text-decoration: none;          
    background-color: transparent;  
    border-left-color: #003f75; 
}
/* all active links */
.bs-docs-sidebar .nav>.active>a, 
.bs-docs-sidebar .nav>.active:hover>a,
.bs-docs-sidebar .nav>.active:focus>a {
    font-weight: 700;
}
/* nested active links */
.bs-docs-sidebar .nav .nav>.active>a, 
.bs-docs-sidebar .nav .nav>.active:hover>a,
.bs-docs-sidebar .nav .nav>.active:focus>a {
    font-weight: 500;
}

/* hide inactive nested list */
.bs-docs-sidebar .nav ul.nav {
    display: none;           
}
/* show active nested list */
.bs-docs-sidebar .nav>.active>ul.nav {
    display: block;           
}

/* Fin du petit menu de navigation sur les pages */

/* Badge Wiki*/

.wiki-badge {
    background-color: #777;
    color: #fff;
    display: inline-block;
    padding-left: 8px;
    padding-right: 8px;
    text-align: center;
	border-radius: 10%;
	margin: 5px 5px 5px 5px;
	padding: 6px 10px 6px 10px;
}

.wiki-blue {
    background-color: #5bc0de;
}

.wiki-red {
    background-color: #5f5f5f;
}

.wiki-green {
    background-color: #5cb85c;
}

.wiki-orange{
    background-color: #f0ad4e;
}


/* Fin de Badge Wiki */

/* Wiki Bulle*/

.wiki-bulle {
    background-color: #777;
    color: #fff;
    display: inline-block;
    padding-left: 8px;
    padding-right: 8px;
    text-align: center;
	border-radius: 50%;
	margin: 5px 5px 5px 5px;
	padding: 6px 10px 6px 10px;
}

.wiki-blue {
    background-color: #5bc0de;
}

.wiki-green {
    background-color: #5cb85c;
}

.wiki-jaune{
    background-color: #f0ad4e;
}

.wiki-red {
    background-color: #F73B38;
}

.wiki-prune {
    background-color: #9b58b5;
}

.wiki-orange {
    background-color: #F4661B;
}

.wiki-bonbon{
    background-color: #F9429E;
}

.wiki-cannelle{
    background-color: #7E5835;
}

.wiki-ciel{
    background-color: #0808A5;
}

.wiki-lemon{
    background-color: #00FF00;
}

.wiki-jango{
    background-color: #000000;
}
/* Fin Wiki Bulle */

/* Rotate image*/

#rotate  img{
  -webkit-transition:-webkit-transform .9s; // Chrome Safari
  -moz-transition:-moz-transform .9s;       // Mozilla
  -o-transition:-o-transform .9s;           // Op�ra
  -ms-transition:-ms-transform .9s;         // IE
  transition:transform .9s;
}
 
#rotate  img:hover{
  -webkit-transform:rotate(1080deg); 
  -moz-transform:rotate(1080deg);
  -o-transform:rotate(1080deg); 
  -ms-transform:rotate(1080deg); 
  transform:rotate(1080deg);
}

/*Fin Rotate image*/

/* bouton gang */
.b_gang {
	-moz-box-shadow: 1px 5px 29px 9px #8a217a;
	-webkit-box-shadow: 1px 5px 29px 9px #8a217a;
	box-shadow: 1px 5px 29px 9px #8a217a;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ff2ed5), color-stop(1, #ffe0fd));
	background:-moz-linear-gradient(top, #ff2ed5 5%, #ffe0fd 100%);
	background:-webkit-linear-gradient(top, #ff2ed5 5%, #ffe0fd 100%);
	background:-o-linear-gradient(top, #ff2ed5 5%, #ffe0fd 100%);
	background:-ms-linear-gradient(top, #ff2ed5 5%, #ffe0fd 100%);
	background:linear-gradient(to bottom, #ff2ed5 5%, #ffe0fd 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff2ed5', endColorstr='#ffe0fd',GradientType=0);
	background-color:#ff2ed5;
	-moz-border-radius:42px;
	-webkit-border-radius:42px;
	border-radius:42px;
	border:1px solid #ff2ee7;
	display:inline-block;
	cursor:pointer;
	color:#050505;
	font-family:Verdana;
	font-size:28px;
	padding:20px 35px;
	text-decoration:none;
	text-shadow:2px 2px 3px #ffffff;
	margin: 10px;
}
.b_gang:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffe0fd), color-stop(1, #ff2ed5));
	background:-moz-linear-gradient(top, #ffe0fd 5%, #ff2ed5 100%);
	background:-webkit-linear-gradient(top, #ffe0fd 5%, #ff2ed5 100%);
	background:-o-linear-gradient(top, #ffe0fd 5%, #ff2ed5 100%);
	background:-ms-linear-gradient(top, #ffe0fd 5%, #ff2ed5 100%);
	background:linear-gradient(to bottom, #ffe0fd 5%, #ff2ed5 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe0fd', endColorstr='#ff2ed5',GradientType=0);
	background-color:#ffe0fd;
}
.b_gang:active {
	position:relative;
	top:1px;
}
/* fin bouton gang */

/* Accordion accueil*/

#accordion .glyphicon { margin-right:10px; }
.panel-collapse>.list-group .list-group-item:first-child {border-top-right-radius: 0;border-top-left-radius: 0;}
.panel-collapse>.list-group .list-group-item {border-width: 1px 0;}
.panel-collapse>.list-group {margin-bottom: 0;}
.panel-collapse .list-group-item {border-radius:0;}

/* Fin accordion*/

/* ZONE DE TEST*/

.box {
      width: 300px;
      height: 250px;
	  border-radius : 10px;
      float: left;
    }
    .box > .top, .box > .bottom {
      width: 100%;
      height: 100%;
      border:1px solid #6a6a6a;
	  border-radius : 10px;
      position: absolute;
      transition:opacity 0.25s linear;
    }
    .box > .top {
      background-color: #6a6a6a;
    }
    .box > .bottom {
      background-color: #6a6a6a;
      opacity:0;
    }
    .box > .top:hover + .bottom, .box > .bottom:hover  {
      opacity:1;
    }
	

  .wrapper {
	  position: relative;
	  background: white;
    width: 250px;
	  height: 250px;
    border: 20px solid red;
    border-radius: 100%;
	}
	.wrapper, .wrapper * {
	  -moz-box-sizing: border-box;
	  -webkit-box-sizing: border-box;
	  box-sizing: border-box;
	}
	.wrapper .pie {
	  width: 50%;
	  height: 100%;
	  transform-origin: 100% 50%;
	  position: absolute;
	  background: #08C;
	}
	.wrapper .spinner {
	  border-radius: 100% 0 0 100% / 50% 0 0 50%;
	  z-index: 200;
	}
	.wrapper .filler {
	  border-radius: 0 100% 100% 0 / 0 50% 50% 0;
	  left: 50%;
	  opacity: 0;
	  z-index: 100;
	}
	.wrapper .mask {
	  width: 50%;
	  height: 100%;
	  position: absolute;
	  background: inherit;
	  opacity: 1;
	  z-index: 300;
    border-radius: 100% 0 0 100% / 50% 0 0 50%;
	}
	
	.xp-text{
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 130px;
	}
	.xp{
	font-size: 0.9em;
	margin-left: 130px;
	}
	.more{
		margin-left: 100px;
		margin-top: 130px;
	}
	.box p{
	color:#AAAAAA;
	}
	.top-head{
	border-radius : 10px 10px 0px 0px;
	padding-top: 0.2px;
	background-color:#333333;
	}
	.top-foot{
	border-radius : 0px 0px 10px 10px;
	padding: 0em 0em 4em 0em;
	background-color:#333333;
	}
/* FIN ZONE DE TEST */